/* Contenedor principal */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.2s;
    width: 100%;
}

/* GIFs */
.local-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 3rem auto;
    pointer-events: none;
}

/* Texto */
.question {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

/* Botones */
.button-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.btn {
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff54a4;
    color: white;
    box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}

.btn:hover {
    transform: scale(1.05);
}

/* Pantallas ocultas */
.hidden {
    display: none !important;
}

/* Loading y final */
#loading-screen,
#final-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#noBtn {
    position: relative;
}